{%extends 'layout.html'%}
{%block content%}
<section class="category-content">
    <h1>{{object.title}}</h1>
    <div class="courses-list">
        <div class="post-card">
            {%for lesson in object.lessons%}
            <a href="{%url 'lesson-detail' lesson.id %}">
                <img src="{{lesson.image.url}}" alt="">
                <h1>{{lesson.title}}</h1>
                <p>{{lesson.content}}</p>
            </a>
            {%endfor%}
        </div>
    </div>
</section>
{%endblock content%}