<nav>
    <div class="nav-display">
        <div class="logo">
            <h1><a href="{%url 'home'%}">Cloudkamp.io</a> </h1>
        </div>
        <div class="nav-links">
            <div class="search-margin">
                <h1><a class="search" href=""><i class="fa-solid fa-magnifying-glass"></i></a> </h1>
            </div>
            <div class="nav-links nav-link-display">
                <!-- include a graduation icon -->
                <!-- <h1><a href="{% url 'courses' %}"><i class="fa-solid fa-compass-drafting"></i></i> Projects</a> </h1> -->
                <h1><a href="{% url 'courses' %}"><i class="fa-solid fa-graduation-cap"></i> Courses  </a> </h1>
                <!-- include the book icon -->
                <h1><a href="{%url 'posts'%}"><i class="fa-solid fa-book"></i> Blog</a> </h1>
                {%if user.is_authenticated%}
                  <h1 class="sign-in-button"><a href="{% url 'account_logout'%}">logout</a> </h1>
                {%else%}
                   <h1 class="sign-in-button"><a href="{% url 'account_login'%}">Sign in</a> </h1>
                {%endif%}
                
            </div>
        </div>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </div>
</nav>

