<div class="latest-posts">
    {%for post in posts%}
   
        <div class="post-card">
            <a href="{% url 'post-detail' post.id%}">
              <img src="{{post.image.url}}" alt="">
            </a>
            <h1>{{post.title}}</h1>
            <div class="tags-display">
                {%for tag in post.hash_tags.all%}
                    <a href="{%url 'category-detail' tag.id%}">
                       <p>#{{tag.title}}</p>
                    </a>
                {%endfor%}
            </div>
            <p>{{post.description}}</p>
            <a href="{% url 'post-detail' post.id%}">
                <p class="post-card-button">continue reading</p>
            </a>
        </div>
 
    {%endfor%}
</div>